<form>
  <div class="row gtr-50">
    <div class="col-6 col-12-mobile required">
      <input type="text" name="name" placeholder="Name"/>
    </div>
    <div class="col-6 col-12-mobile required">
      <input type="text" name="email" placeholder="Email" />
    </div>
    <div class="col-12 required">
      <select name="subject">
        <option value="0">Choose a subject</option>
      </select>
    </div>
    <div class="col-12 required">
      <textarea name="message" placeholder="Message" rows="7"></textarea>
    </div>
    <div class="col-12">
      <ul class="buttons">
        <li><div id="recaptcha-checkbox" ></div></li>
        <li><input type="submit" class="special" value="Send Message" /></li>
      </ul>
    </div>
  </div>
</form>
<script type="text/javascript">
    var onloadCallback = function() {
        grecaptcha.render('recaptcha-checkbox', {
            'sitekey' : '{{ site.recaptcha.sitekey }}',
            'theme' : 'dark'
        });
    };
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
