<form id="{{ include.form_id | 'contact-form' }}" method="post" action="#" onsubmit="{{ include.onsubmit_callback | 'sendContactMessage' }}()" onreset="{{ include.onreset_callback | 'resetContactForm' }}()" >
  <div class="row gtr-50">
    <div class="col-6 col-12-mobile required">
      <input type="text" name="{{ include.name_input_id | 'contact-name' }}" id="{{ include.name_input_id | 'contact-name' }}" placeholder="Name" required minlength="4" maxlength="64" />
    </div>
    <div class="col-6 col-12-mobile required">
      <input type="email" name="{{ include.email_input_id | 'contact-email' }}" id="{{ include.email_input_id | 'contact-email' }}" placeholder="Email" required minlength="8" maxlength="64" />
    </div>
    <div class="col-12 required">
      <select name="contact-subject" id="contact-subject" >
        <option value="0">Choose a subject</option>
      </select>
    </div>
    <div class="col-12 required">
      <textarea name="{{ include.message_input_id | 'contact-message' }}" id="{{ include.message_input_id | 'contact-message' }}" placeholder="Message" rows="7" required minlength="16" maxlength="256" ></textarea>
    </div>
    <div class="col-12">
      <ul class="buttons">
        <li><div id="{{ include.recaptcha_widget_id | 'recaptcha-checkbox' }}" ></div></li>
        <li><input type="submit" id="{{ include.submit_input_id | 'contact-submit-button' }}" class="special" value="Send Message" disabled /></li>
        <li><input type="reset" id="{{ include.reset_input_id | 'contact-reset-button' }}" class="special" value="Reset" /></li>
      </ul>
    </div>
  </div>
</form>
