<!-- Header -->
<header id="header" {% if include.class %} class="{{ include.class }}" {% endif %}>
    <h1 id="logo">
        <a href="index.html">
            {% if site.logo_url %}
            <img src="{{ site.logo_url | absolute_url }}" width="32" height="32">
            &nbsp;
            {% endif %}
            {{ site.title }} <span>{% if site.subtitle.size < 16 %} {{ site.subtitle }} {% endif %}</span>
        </a>
    </h1>
    <nav id="nav">
        <ul>
        {% for item in site.data.navigation.menu %}
            {% if item.menu[0] %}
            <li class="submenu {% if item.url == page.url %} current {% endif %}">
                <a href="{{ item.url | absolute_url }}">{{ item.title }}</a>
                <ul>
                    {% for subitem in item.menu %}
                    <li {% if subitem.url == page.url %} class="current" {% endif %}>
                        <a href="{{ subitem.url | absolute_url }}">{{ subitem.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
            <li {% if item.url == page.url %} class="current" {% endif %}>
                <a href="{{ item.url | absolute_url }}">{{ item.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
</header>