/* Section/Article */

section, article {
    &.special {
        text-align: center;
    }
}

header {
    &.major {
        padding-bottom: 2em;
    }

    &.special {
        margin-bottom: 5em;
        padding-top: 7em;
        position: relative;
        text-align: center;

        &:before,
        &:after {
            border-bottom: solid 1.5px;
            border-top: solid 1.5px;
            content: '';
            height: 7px;
            opacity: 0.1;
            position: absolute;
            top: 1.75em;
            width: 43%;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }

        h2 {
            margin-bottom: 0;
        }

        h2 + p {
            margin-bottom: 0;
            padding-top: 1.5em;
        }

        .icon {
            cursor: default;
            height: 7em;
            left: 0;
            position: absolute;
            text-align: center;
            top: 1em;
            width: 100%;

            &:before {
                font-size: 3.5em;
                opacity: 0.35;
            }
        }
    }
}

footer {
    > :last-child {
        margin-bottom: 0;
    }

    &.major {
        padding-top: 3em;
    }
}